<!DOCTYPE html>
<html>
<head>
  <title>User App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag	 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search..." id="user-search">
          </form>
          <a class="navbar-brand" href="#">Users</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 sidebar">
        	<h4>All users</h4>
          <ul class="nav nav-sidebar" id="users-con">
            <li class="active"><a href="#">All Users <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 main" id="user-choice">
          <h1 class="page-header">&nbsp;</h1>

          

          <h2 class="sub-header">&nbsp;</h2>
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Value</th>
                  
                  
                  
                </tr>
              </thead>
              <tbody id="user-details"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>




</body>
</html>
