<!DOCTYPE html>
<html>
<head>
  <title>User App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag	 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/navbar"  %>

  <div class="container-fluid max-height no-overflow">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-2 col-sm-pull-1" id="user-choice">
        <h1 class="page-header">User Manager</h1>



        <h2 class="sub-header">Select or Search for a User to Begin</h2>
        <div class="table-responsive">
          <table class="table table-striped">
        <tbody id="user-details"></tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <form action="#">

      <div class="input-group" style="margin-top:30px;">
        <span class="input-group-addon" id="flag-addon">Name: </span>
        <input type="text" class="form-control" placeholder="Filter Users..." id="user-search" aria-describedby="flag-addon">
      </div>
    </form>
    <!-- <h4>All users</h4> -->
    <ul class="nav nav-sidebar scrollable"  id="users-con">
    </ul>
  </div>
</div>
</div>
</body>
</html>
